@charset "utf-8";

body{background-color: #192e31}


#logodelapagina{ width: 500px; text-align: center; margin: 10px auto; padding: 3px; border: solid black 1px; border-radius: 5px; box-shadow: black 5px 5px 10px; background-image: url(imagenes/fondo.jpg);}

#barraprincipal{background-color:#192e31;}

#barralateral{float:right; height: 1250px;}

#contenidoprincipal{margin-right: 190px;}

#pieprincipal{background-color: #192e31; margin-top: 20px}

li{display: inline;}

#titulo{font: bold 30px; font-family: Verdana, Geneva, Tahoma, sans-serif; margin-bottom: 15px; margin-top: 15px; color: #fafbfd; text-shadow: black 5px 5px 10px;}

#accion{font: bold 30px; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 30px; width: 350px; border-radius: 20px; color: #fafbfd; padding: 2px; margin: 4px; text-align: center;}

.textli{color: #fafbfd; padding: 5px; margin: 3px; border-radius: 20px; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 16px; padding: 4px}

.titulolateral{color: #fafbfd; font: bold 20px; font-family: Verdana, Geneva, Tahoma, sans-serif; background-color: #192e31; border-radius: 5px; padding: 5px; margin: 10px; border: black solid 1px; box-shadow: black 5px 5px 10px; background-image: url(imagenes/fondo.jpg);}

.textlateral{margin-left: 20px; color:#fafbfd;}

.registro a{color: #fafbfd;
text-decoration: none;
margin-left: 20px;
font-size: 20px;}

.registro a:hover{color: #fafbfd;
    text-decoration: underline;}

.peli1{background: none;
width: 183px;
height: 275px;
padding: opx;
margin-top: 10px;
margin-bottom: opx;
margin-left: 10px;
margin-right: 0px;}

.peli2{background: none;
width: 183px;
height: 275px;
padding: 0px;
margin-top: -275px;
margin-bottom: opx;
margin-left: 200px;
margin-right: 0px;}

.peli3{background: none;
width: 183px;
height: 275px;
padding: 0px;
margin-top: -275px;
margin-bottom: 0px;
margin-left: 390px;
margin-right: 0px;}